<header>
  <h1>Show Task Page</h1>
</header>

<div class="content">
  <p>ツイート内容: <%= @task.content %></p>
</div>

<div class="back_button">
  <%= link_to "ツイート一覧画面にもどる", tasks_path, class: "back_link" %>
</div>

<footer class="footer">
  <p>kadai<p>
</footer>